*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
	scroll-padding-top: 60px;
}

body {
	font-family: 'Roboto Slab', serif;
}

/* Header */
.spacer {
	display: block;
	background-color: wheat;
	height: 50px;
}

.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;

	display: flex;
	flex-direction: row;
	background-color: rgb(43, 43, 43);
}

.logo {
	display: flex;
	justify-content: flex-start;
	font-size: 2rem;
	padding: 1rem 3rem;
}

.logo a, .logo a:visited {
	color: white;
}

.selections {
	display: flex;
	justify-content: row-reverse;
	justify-content: space-between;
	gap: 2rem;
	align-items: center;
	font-size: 1.25rem;
	margin-left: auto;
	padding: 1rem 3rem;
}

.selections li a, .selections li a:visited {
	color: white;
}

a, a:visited {
	text-decoration: none;
}
/* Header end */

/* Main section start */
.main-section {
	background-image: url("../images/background_3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    height: 130vh;
    width: 100%;
    overflow: hidden;
	background-attachment: fixed;
	background-position-y: top 5vh;
}

.block-wrap {
	height: 100vh;
}

.block {
	background-color: rgba(18, 17, 17, 65%);
	width: 80%;
	border-radius: 1rem;
	margin: 14vh auto;
	padding: 4vmin;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.8vmin;

	transition: 0.4s;
}

.block:hover {
	transition: 0.4s;
	box-shadow: 2px 2px 10px rgba(9, 8, 8, 0.65);
	background-color: rgba(18, 17, 17, 60%);;
}

.left-block {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	width: 60vw;
	color: white;
}

.hero-main {
	font-size: 5vmin;
	text-shadow: 2px 2px 10px rgba(237, 193, 83, 0.65);
	margin-bottom: 2vmax;
	text-align: center;
	line-height: 3vmax;
}

.hero-sec {
	text-align: justify;
	font-size: 2.5vmin;
	margin: 0 2vmin 3vmax;
	line-height: 2vmax;
}

.left-block button {
	font-size: 3.5vmin;
	border-radius: 1rem;
	border: 0.75vmin solid white;
	background-color: rgba(245, 218, 168, 0.685);
	transition: 0.4s;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 1vmin;
	height: 15%;
	max-width: 80%;
}

.left-block button:hover {
	box-shadow: 2px 2px 10px rgba(237, 116, 83, 0.65);
	background-color: rgba(245, 218, 168, 0.8);
}
.left-block button a, .left-block button a:visited {
	color: white;
}

.right-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 1 0;
	width: 45vw;
	margin: 0 auto;
    height: auto;
}

.right-block figure {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.right-block img {
	max-width: 35vw;
	margin: auto;
	border: 0.25rem solid wheat;
	transition: 0.3s;
}

.right-block img:hover {
	transition: 0.4s;
	box-shadow: 2px 2px 10px rgba(237, 160, 83, 0.65);
}

.rb-credit {
	display: flex;
	justify-content: center;
	font-size: 2.5vmin;
	padding: 1rem;
}

.rb-credit a{
	font-size: 2.5vmin;
	text-align: center;
	transition: 0.3s;
}

.rb-credit a:visited {
	color: white;
}
.rb-credit a:hover {
	transition: 0.4s;
	text-shadow: 2px 2px 10px rgba(248, 200, 117, 0.65);
}

.credit-block {
	background-color: rgba(78, 77, 75, 0.75);
	width: 40vmin;
	text-align: center;
	margin: auto;
	padding: 1.25vmin;
	border: 0.2rem solid rgb(249, 236, 215);
}

.flex-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.credit-block a, .credit-block a:visited {
	color: white;
}

.credit-block a {
	text-decoration: none;
	font-size: 2.5vmin;
	transition: 0.3s;
}

.credit-block a:hover {
	text-shadow: 2px 2px 10px rgba(248, 200, 117, 0.65);
}

@media (max-width: 1180px) {
	.block {
		flex-direction: column;
	}
}

@media (min-height: 400px) and (max-width: 850px), (max-width: 500px) and (min-height: 700px) {
	.main-section {
		background-position-x: 50%;
		height: 100vh;
	}

	.block-wrap {
		height: 75vh;
	}

	.left-block button {
		margin-bottom: 3vmax;
	}
}
/* Main section end */

/* Subsection 1 start */
.subsection-1 {
	background: rgb(205, 178, 128);
	width: 100%;
	height: auto;
	border-top: 3px solid rgb(174, 135, 96);
	border-bottom: 3px solid rgb(174, 135, 96);

	padding: 4vmin;
	padding-bottom: 6vmin;
	color: white;
}

.subsection-1 h2 {
	font-size: 5vmin;
	text-shadow: 2px 2px 10px rgba(254, 196, 6, 0.65);
	margin-bottom: 4vmin;
	text-align: center;
	line-height: 7vmin;
	padding: 0 2rem;
}

.card-container {
	display: flex;
	justify-content: space-around;
	flex-flow: wrap row;
	gap: 4vmin;
	margin: 0 1rem;
}

.item {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1 1 0;
}

.item .card {
	transition: 1s;
}

.item .card:hover {
	transition: 0.3s;
	box-shadow: 4px 4px 10px rgba(205, 205, 205, 0.65);
}

.card {
	margin: 1.5vmin;
}

.card img {
	max-width: 55vmin;
    height: auto;
	border: 2vmin solid white;
}

figcaption {
	display: flex;
	flex: 1 1 auto;
}

.line-break::before {
	content: "\a";
	white-space: pre;
}

figcaption a, figcaption a:visited {
	color: rgb(9, 113, 233);
}

figcaption a:hover {
	text-shadow: 2px 2px 2px rgba(65, 62, 61, 0.455);
}

.item p {
	font-size: 3vmin;
	text-align: left;
	line-height: 3.5vmin;
	margin: 0 4vmin;
	padding: 2.5vmin 3vmin;
	box-shadow: 2px 2px 10px rgba(180, 116, 6, 0.622) inset;
	transition: 0.5s;
}

.item p:hover {
	transition: 1s;
	box-shadow: 2px 2px 10px rgba(180, 116, 6, 0.622);
}
/* Subsection 1 end */

/* Subsection 2 start */
.subsection-2 {
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: block;
    height: 70vh;
    width: 100%;
    overflow: hidden;
}

.s2-wrapper {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.s2-wrapper p:nth-child(1) {
	text-align: center;
	font-style: italic;
}

.subsection-2 p {
	padding: 0 20vmin;
	color: rgb(255, 255, 255);
	font-size: 7vmin;
	text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.75);
	line-height: 12vmin;
}

@media (min-height: 400px) and (max-width: 850px) {
	.subsection-2 {
		background-position-x: 20%;
	}
}
/* Subsection 2 end */

/* Subsection 3 start */
.subsection-3 {
	background: rgb(205, 178, 128);
	width: 100%;
	height: auto;
	border-top: 3px solid rgb(207, 155, 72);
	border-bottom: 3px solid rgb(207, 155, 72);

	padding: 4vmin;
	color: white;
	display: flex;
	align-content: center;
	justify-content: center;
}

.s3-box {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;

	background-color: rgba(231, 166, 171, 0.3);
	border: 1.5vmin solid rgba(213, 210, 215, 0.75);
	border-radius: 2.5vmin;
	width: 70%;
	box-shadow: 3px 3px 10px rgba(180, 116, 6, 0.6);
	padding: 5vmin 0;
}

.s3-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 3vmin;
	flex: 1 1 0;
}

.s3-message h2 {
	font-size: 5vmin;
}

.s3-message p {
	font-size: 2.5vmin;
}

.s3-box button {
	text-align: center;
    text-decoration: none;
	color: white;
    border: 1vmin solid white;
    background-image: linear-gradient(rgba(28, 204, 227, 0.7),rgba(14, 95, 95, 0.7));
	font-size: 2.5vmin;
    border-radius: 2vmin;
    padding: 1vmin;
	margin: 0 3vmin;
	transition: 0.5s;
}

.s3-box button a, .s3-box button a:visited {
	color: white;
}

.s3-box button:hover {
	font-size: 3vmin;
	border-radius: 2.25vmin;
	padding: 1.25vmin;
	transition: 0.5s;
	text-shadow: 2px 2px 8px rgba(83, 83, 83, 0.6);
}

@media (max-width: 1400px) and (min-height: 700px) {
	.s3-box {
		flex-direction: column;
		justify-content: center;
		padding: 3vmin 0;
	}

	.s3-message {
		align-items: center;
		text-align: center;
		margin-bottom: 2vmin;
	}

	.s3-message h2 {
		line-height: 7vmin;
	}
}
/* Subsection 3 end */

/* Footer start */
footer {
    display: block;
    width: 100%;
    background-color: rgb(43, 43, 43);
    height: auto;

    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 2.5vmin;
    color: white;

    padding: 1.5rem 0 1.5rem;
}

.footer-wrapper {
	display: flex;
	align-content: center;
	justify-content: center;
}

footer a, footer a:visited {
	color: white;
	text-decoration: underline;
}

footer a:hover {
	color: rgb(0, 149, 255);
}

footer p:hover {
    color: rgb(95, 154, 225);
}
/* Footer end */